<div class="container table-bottom stars" v-if="show">
    <div class="row stars-head">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 star-name" @click="setSort(0, $event)">Name<span :class="sortGlyph(0)"></span></div>
        <div class="col-lg-2 star-start" @click="setSort(1, $event)">Start<span :class="sortGlyph(1)"></span></div>
        <div class="col-lg-2 star-end" @click="setSort(2, $event)">End<span :class="sortGlyph(2)"></span></div>
        <div class="col-lg-2 star-titles" @click="setSort(3, $event)">Titles<span :class="sortGlyph(3)"></span></div>
    </div>
    <div class="row stars-body">
        <div class="col-lg-12" style="padding:0">
            <int-star v-for="(star, index) in filteredStars" :star="star" :index="index" :key="star.id"></int-star>
        </div>
    </div>
</div>

